
#intro-wrapper {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#intro-img-wrap {
    
}

#intro-img-wrap img {
    max-width: 300px;
    width: 75%;
}

.intro-name {
    margin-top: 20px;
}

.intro-name p {
    font-size: 48px;
    color: white;
}

.intro-title {
    margin: 10px 0;
}

.intro-title p {
    font-size: 18px;
    color: white;
}